#container {
    max-width: 900px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

body {
    background: #F3E0BE;
    color: white;
}

header{
    background: #2A293E;
    padding: 25px;
}

section{
    background: #577284;
}

footer{
    background: #577284;
}

h1 {
    text-align: center;
    margin: 0;
}

h3 {
    margin: 0;
    padding: 15px;
}

.red {
    color: red;
}

#inputArea {
    border: 1px solid black;
}

#inputs {
    display: flex;
    justify-content: space-evenly;
}

.btn {
    padding: 10px;
    font-size: 12px;
}

#inputBtn {
    text-align: right;
}